fastapi==0.110.0
uvicorn==0.27.1
python-multipart==0.0.9
torch==2.2.1
torchvision==0.17.1
torchaudio==2.2.1
Pillow==10.2.0
transformers==4.38.2
groq==1.1.1
python-dotenv==1.0.1
openai-whisper==20231117
numpy<2
setuptools<70